
@{
  Layout = "_Layout";
}

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Anagram Generator</title>
  </head>
    <div class="home">
    <div class="container">

    <div class="jumbotron jumbotron-fluid">

      <h1 class="display-4">Hello</h1>
      <p class="lead">Use this site for Anagram translator</p>
    </div>
  </div>
    <label for="new-anagram">Anagram Generator</label>
    <input id="new-anagram" class="form-group" name="new-anagram" type="text">
    <button type="submit">Submit</button>
</div>
