<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Anagram checker</title>
  </head>
  <body class="container">
  <h1>Checker Result</h1>
  <hr>
  <h3>Your word one is anagram of word two.</h3>
  <hr>
  <form action="/Result">
    <input type="submit" value="Go home" />
  </form>
</body>
</html>
